<md-bottom-sheet class="md-grid">
  <md-subheader class="share-sub-header">Ask your friends for suggestions!</md-subheader>
  <md-list>
    <md-item ng-repeat="item in sharePlatforms" data-tap-disabled="true"  ng-click="share(item.platform)">
      <md-button class="md-grid-item-content" aria-label="{{item.name}}">
        <div class="md-icon-container">
          <md-inline-grid-icon icon="{{item.icon}}"></md-inline-grid-icon>
        </div>
        <p class="md-grid-text"> {{ item.name }} </p>
      </md-button>
    </md-item>
  </md-list>
</md-bottom-sheet>